 <!--===============NAVIGATION MENU============================-->
 {% load static %}
 <header class="profile" id="profile">
    <nav class="profile-container">
        <div class="bar"><i class="uil uil-bars"></i></div>
        <div class="camu-logo"> <img src='static/images/mycamu.png' alt="mycamu">
        </div>
        <div class="user-container">
            <div class="user-name">SHAHNAZ KHANUM</div>
            <div class="profile-user">
                <a href="#">
                    <img src='static/images/profile-user.png' alt="profile-image">
                </a>
            </div>
        </div>
    </nav>
</header>